@import "tailwindcss";
/* 新增 DaisyUI 插件 */
@plugin "daisyui" {
themes: "light", "dark", "cupcake", "bumblebee", "emerald";
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



